<form id="klav_newsletter_signup" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
 <input type="hidden" name="g" value="UW7B8v">
 <input type="hidden" name="$fields" value="$consent,
               email
        ">
 <input type="hidden" name="$list_fields" value="$consent">

 <div class="klaviyo_field_group klaviyo_form_actions">

  <input type="email" name="email" placeholder="Enter your email" >
  
 </div>
 


 <div class="klaviyo_messages">
  <div class="success_message" style="display:none;"></div>
  <div class="error_message" style="display:none;"></div>
 </div>

 <div class="klaviyo_form_actions klav_subscribe">
  <button type="submit">Subscribe</button>
</div>

</form>