    <div class="container" style="margin-bottom: 80px;text-align: center"> 
  

<div class="row" style="display: flex; justify-content: center;">
 <div class="col-xs-10 col-md-6"> 

{% for block in section.blocks %}
<button class="belaccordion">{{block.settings.title}}</button>
<div class="belpanel">
<div style="margin: 20px 0">
  <span class="accordioncontent" style="text-align: start">{{block.settings.content}}</span>
</div>
</div>
{% endfor %} 
  </div>
</div>
      
      
</div>  



        
 

{% schema %}
  {
    "name": "Accordions",
    "settings": [],
	"blocks": [
			{
				"type": "accordion",
				"name": "Accordion",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Accordion Title"
					},
					{
						"type": "richtext",
						"id": "content",
						"label": "Accordion Content"
					}
				
					
				]
			}
		],
  "presets": [{
    "name": "Accordion",
    "category": "Text"
  }]
 }
{% endschema %}





{% stylesheet %}

.accordioncontent p {
   font-size: 15px;
  line-height: 1.6; 
}
          
.belaccordion {
background-color: transparent;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;

transition: 0.4s;
border-bottom:2px solid #e6e6e6;
margin-top: 20px;
    font-size: 20px;
  font-weight: 500;
}

.belactive, .belaccordion:hover {
background-color: #ccc;
}

.belaccordion:after {
content: '\002B';
color: #777;
font-weight: bold;
float: right;
margin-left: 5px;
}

.belaccordion.active:after {
content: "\2212";
}

.belpanel {
padding: 0 18px;
background-color: white;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}
          
.show {
max-height: 1000px; 
}
{% endstylesheet %}


<script>  
          
var accordions = document.getElementsByClassName("belaccordion");

for (var i = 0; i < accordions.length; i++) {
accordions[i].onclick = function() {
  this.classList.toggle("active");
  this.nextElementSibling.classList.toggle("show");
  hideAll(this);
};
}

function hideAll(exceptThis) {
for (var i = 0; i < accordions.length; i++) {
  if (accordions[i] !== exceptThis) {
    accordions[i].classList.remove("active");
    accordions[i].nextElementSibling.classList.remove("show");
  }
}
}


     
</script>
