

<div style="text-align: center">
  <p style="font-size: 24px;margin-bottom: 10px;">follow us</p>
  <p style="font-size: 24px; font-weight:800;margin-bottom: 20px;">@alkiraskincare</p>
</div>
<div id="instafeed"></div>





<script type="text/javascript" src="{{ 'instafeedinit.js' | asset_url  }}"></script>



<style>
.instaimages {
 height:300px; 
}
.slick-slide {
 line-height: 0; 
}
@media only screen and (max-width: 1700px) {  
  .instaimages {
 height:190px; 
}
}
@media only screen and (max-width: 1024px) {  
  .instaimages {
 height:160px; 
}
}
  
@media only screen and (max-width: 600px) {  
  .instaimages {
 height:150px; 
}
}

@media only screen and (max-width: 400px) {  
 .instaimages {
 height:120px; 
}
}
    
  
</style>