
<div class="instafeedwrapper">
<div style="text-align: center">
  <p style="font-size: 24px;margin-bottom: 10px;letter-spacing: 0px;">follow us</p>
  <p style="font-size: 24px; font-weight:800;margin-bottom: 20px;">@insta_account</p>
</div>
<div id="instafeed"></div>
</div>
  <script type="text/javascript" src=""></script>

<script type="text/javascript" src="{{ 'instafeed.min.js' | asset_url  }}"></script> 

<script type="text/javascript" src="{{ 'instafeedinit.js' | asset_url  }}"></script>



<style>
  .instafeedwrapper {
    padding-top: 30px;
    background-color:#fdf9f6;
  }
.instaimages {
 height:300px; 
}
.slick-slide {
 line-height: 0; 
}
@media only screen and (max-width: 1700px) {  
  .instaimages {
 height:220px; 
}
}
@media only screen and (max-width: 1024px) {  
  .instaimages {
 height:160px; 
}
}
  
@media only screen and (max-width: 600px) {  
  .instaimages {
 height:150px; 
}
}

@media only screen and (max-width: 400px) {  
 .instaimages {
 height:120px; 
}
}
    
  
</style>
