.instafeed-image-square {
  position: relative;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}

.instafeed-image-square img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
  
  
  
.instaimages {
 height:300px; 
}
.slick-slide {
 line-height: 0; 
}
@media only screen and (max-width: 1700px) {  
  .instaimages {
 height:190px; 
}
}
@media only screen and (max-width: 1024px) {  
  .instaimages {
 height:160px; 
}
}
  
@media only screen and (max-width: 600px) {  
  .instaimages {
 height:150px; 
}
}

@media only screen and (max-width: 400px) {  
 .instaimages {
 height:120px; 
}
}
    
