

{% if settings.discountoverlay_enable %}

<p class="discountoverlay" style="display:none">{{settings.discountoverlay_text}}</p>


<p class="discountoverlay2" style="display:none">{{settings.discountoverlay_text2}}</p>


{% endif %}